<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<Paths>
		<MeshPath>data\meshes\</MeshPath>
		<EffectPath>data\shaders\</EffectPath>
		<TexturePath>data\textures\</TexturePath>
		<MapPath>data\maps\</MapPath>
		<ObjectPath>data\objects\</ObjectPath>
	</Paths>
	<Graphics>
		<Resolution width="800" height="600"/>
	</Graphics>
</Config>