<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CastleButcher.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CastleButcher.KeyMapping" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CastleButcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CastleButcher.GameSettings>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SpectatorSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="JumpSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AssassinSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KnightSpeed" serializeAs="String">
                <value>35</value>
            </setting>
        </CastleButcher.GameSettings>
        <CastleButcher.KeyMapping>
            <setting name="ToggleFullscreen" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Forward" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="Backward" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="StrafeLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="StrafeRight" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Jump" serializeAs="String">
                <value>Space</value>
            </setting>
        </CastleButcher.KeyMapping>
        <CastleButcher.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShipClass" serializeAs="String">
                <value />
            </setting>
        </CastleButcher.Properties.Settings>
    </userSettings>
</configuration>